.flip-card {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden; 
    background-color: #f8f9fa; 
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    border: 4px solid black;
    border-radius: 20px; 
    box-sizing: border-box; 
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(209, 206, 8);
    background-color: #f8f9fa; 
    border-radius: 20px; 
}


.flip-card-back {
    transform: rotateY(180deg);
}
@keyframes rotate360 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animate-rotate {
    animation: rotate360 5s linear infinite; 
  }
  
  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    display: flex;
    animation: marquee 40s linear infinite;
  }
  
  .achieve-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  